* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    word-break: break-word;
}
img {
    max-width: 100%;
}
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
html, .body{
    min-height: 100%;
    padding: 50px 100px;
}

.mb-4{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 20px;
}

.mb-1{
    cursor: pointer;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 5px 10px;
    color: blueviolet;
    border-color: blueviolet;
    border-radius: 5px;
    background-color: rgba(187, 162, 210, 0.3);
    transition: 0.2s all ease-in-out;
    font-size: 15px;
    transition: 0.2s all ease-in-out;
    margin-right: 10px;
}
.mb-1:hover{
    transform: scale(1.05);
    color: aliceblue;
    background-color: blueviolet;

}

.fade-block{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(187, 162, 210, 0.69);
    
}
.hidden{
    display: none;
}
.modal-window{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.card{
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    background-color: rgba(235, 232, 237, 0.5);
    background-clip: border-box;
}

.card-header{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    padding: 10px;
    background-color:rgba(138, 43, 226, 0.9);
    color: aliceblue;
}
.card-body{
    padding-top: 20px;
    background-color:rgba(138, 43, 226, 0.6);
}
p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin:0 15px 20px 15px;
    color: aliceblue;
}
.btn-dark{
    cursor: pointer;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 5px 10px;
    color: aliceblue;
    border-color: rgb(16, 10, 22);
    border-radius: 5px;
    background-color:rgb(16, 10, 22);
    margin-bottom: 20px;
    transition: 0.2s all ease-in-out;
    font-size: 15px;
    margin-left: 15px;
    transition: 0.2s all ease-in-out;
    
}
.btn-dark:hover{
    transform: scale(1.05);

}